<!DOCTYPE html>
<html>
<head>
  <title>Pusher Chat</title>
  <%= stylesheet_link_tag "style", "tipTip" %>
  <script type="text/javascript" charset="utf-8">
    var PUSHER_KEY = '<%= Pusher.key %>'
  </script>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.4.4.min.js", "jquery.tipTip.minified", "base", "chat.functions" %>
</head>
<body>

<div>test new data</div>
<div style="margin-left: 205px; margin-bottom: -90px;"> 
		<a href="http://www.chippewavalleycodecamp.com/">
			<img alt="cvtc" src="http://bit.ly/tvSb6k">	
		</a>
	</div>
<%= yield %>

<div id="footer">
	<p>Pusher Chat is proudly powered by <a href="http://pusherapp.com/" target="_blank">Pusher App</a>. Created by <a href="http://tarnfeld.com/" target="_blank">Tom Arnfeld</a>.</p>
</div>

</body>
</html>
